@import "../../node_modules/normalize.css/normalize.css";
@import "https://fonts.googleapis.com/css?family=Lora:400,700";

html,
body {
  height: 100%;
  margin: 0;
}

body,
input {
  color: #222;
  font-size: 18px;
  font-family: 'Lora', serif;
}

@import "./app.scss";
